body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Estilos para a navbar */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px 15px;
    padding: 10px;
}

.team-member {
    margin-top: 30px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container{
    margin-left: 40px;
    max-width: 800px;
    margin: 20px 0px 0px 325px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.membro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px; 
    
}
#nossaequipe {
    display: flex;
    justify-content: space-around; /* ou use 'space-between' para espaçamento máximo entre as imagens */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha, se necessário */
}
.membro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.instagram-logo {
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
}
#map {
    height: 400px;
    width: 100%;
}
.instagram-logo {
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    margin-top: 5px; /* Ajuste a margem conforme necessário */
}

.membroLogotipo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px; 
    justify-content: space-around;

}

#imgLogo {
    display: flex;
    float: left;
    position: relative;
    margin-right: 500px;
    
}