body {
    height: 100vh;
    background-color:rgb(255, 255, 255);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
a:hover{
  color: #604caf;
}
header{
  position: flex;
  padding: 0 2rem;
}

.navbar {
  width: 102%;
  height: 50px;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000; 
  text-decoration: none;
}

.navbar .links {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
}

.navbar .links a {
  color: #000;
  text-decoration: none; 
  font-size: 20px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.login_btn {
  background-color: #604caf;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.action_btn:hover {
  transform: scale(1.05);
  color: #fff; 
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 60px;
  }

.row{
  margin-top: 70px;
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 50%;
  text-align: center;
}

  .animal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 8px 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    width: 350px;
    transition: transform 0.3s;
    text-align: center;
    display: inline-block;
  }

  .animal-card img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .animal-card h2 {
    color: #333;
  }

  .animal-card p {
    color: #666;
    line-height: 1.5;
  }

  .animal-card button {
    background-color: #604caf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .animal-card button:hover {
    background-color: #604caf;
  }

  .animal-card:hover {
    transform: scale(1.05);
    color: #604caf;
  }

  .caixa-texto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 0 20px;
    background-color:  #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.frase {
    font-size: 16px;
    color: #fff;
}