/* Reset de estilos e estilos gerais */
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Estilos para a navbar */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px 15px;
    padding: 10px;
}
#home {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 2em;
}

#home p {
    font-size: 1.2em;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }

  .animal-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
    text-align: center;
  }

  .animal-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .animal-card h2 {
    color: #333;
  }

  .animal-card p {
    color: #666;
    line-height: 1.5;
  }

  .animal-card button {
    background-color: #604caf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .animal-card button:hover {
    background-color: #604caf;
  }

  .animal-card:hover {
    transform: scale(1.05);
  }

  .testimonial {
    background-color: #604caf;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 20px;
    border-radius: 8px;
  }